table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 10px 0;
}

h1 {
    color: blue;
}


h2 {
    color: orangered;
}

#rightcorner {
    float:right;
}


h3 {
    color: greenyellow;
}



.button-link {
	padding: 7px 10px;
	background: #18c6df;
	color: #FFF;
}



input {
    color: #202129;
    background-color: #A0DBE3;

}

input:hover {
    color: #202129;
    background-color: #18c6df;
    opacity: 1;
    }

.like-button {
    padding: 4px 7px;
	background: #18c6df;
	color: #FFF;
}


input {
    color: #202129;
    background-color: #A0DBE3;

}

input:hover {
    color: #202129;
    background-color: #18c6df;
    opacity: 1;
    }


