{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

<head>

    <title>
        {% block head_title %}BetterTwitter.com{% endblock head_title %}
    </title>

    {% include 'snippets/css.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'MyTwitter/style.css' %}" />
</head>
<body>


<h1 style="color: black">Tweet yourself</h1>
<div class="alert alert-primary" role="alert">
       {% block content %}{% endblock %}
</div>


{% include 'snippets/js.html' %}

  <script>
     $(document).ready(function(){
          function updateText(btn, newCount, verb){
          btn.attr('data-likes', newCount)
          btn.text(newCount + " " + verb)
      }
      $(".btn").click(function(e){
        e.preventDefault()
        var this_ = $(this)
        var likeUrl = this_.attr("data-href")
        var likeCount = parseInt(this_.attr("data-likes")) | 0
        var addLike = likeCount + 1
        var removeLike = likeCount - 1
        if (likeUrl){
           $.ajax({
            url: likeUrl,
            method: "GET",
            data: {},
            success: function(data){
              console.log(data)
              var newLikes;
              if (data.liked){
                  updateText(this_, addLike, "Unlike")
              } else {
                  updateText(this_, removeLike, "Like")
              }
            }, error: function(error){
              console.log(error)
              console.log("error")
            }
          })
        }

      })
  })
</script>


<script>
    $(document).ready(function(){
        function updateRead(link, verb) {
            link.attr('data-read', verb)
            link.text(verb)
        }
     $('#read').click(function (e) {
         e.preventDefault()
         var msg_url = this.attr('href')
         var read = this.attr('data-read')
         if(msg_url){
             $.ajax({
                 url: msg_url,
                 method: 'GET',
                 data: {},
                 sucess: function(data){
                     console.log(data)
                     if (data.is_read === false){
                         updateRead(this, 'Read')
                         read = true
                     }

                 }
             })
         }
     })

    })


</script>

<script>
    $(document).ready(function(){
        {% block jquery %}{% endblock %}
    })
</script>

</body>
</html>