{% extends 'MyTwitter/base.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}


{% block content %}

<a id="rightcorner" href="{% url 'logout' %}">Logout</a>
<h3>{{ request.user.username }} logged in to the account</h3>
<a href="{% url 'all-tweets' %}">New Tweets</a><br>
<h2>Tweet posted by: {{ tweet.user.username }}</h2>
<strong>{{ tweet.content }}</strong><br>


    {% for comment in comments %}
        <li>{{ comment.comment }}, {{ comment.user.username }},
            {{ comment.creation_date }}</li>
        {% empty %}
        No Comments
    {% endfor %}


<form action="" method="post"> {% csrf_token %}
{{ form }}
<input type="submit" value="Add Comment">
</form>


{% endblock %}