
{% extends 'MyTwitter/base.html' %}

<head>
{% block head_title %}{{ block.super }}{% endblock head_title %}
</head>

<body>
{% block content %}
<a id="rightcorner" href="{% url 'logout' %}">Logout</a>
<h1>Tweets</h1>
<h3><a href="{%  url 'user-site' %}">{{ user.username }}</a> logged in to the account</h3>
<a class='button-link' href="{% url 'create-tweet' %}">Add Tweet</a><br>

<table>
    <tr>
        <th>User</th>
        <th>Tweet</th>
        <th>Date</th>
        <th>Likes</th>
        <th>Comments</th>
    </tr>
     {% for tweet in tweets %}
    <tr>
        <td><a href="{{ tweet.get_absolute_url }}">{{ tweet.user.username }}</a></td>
        <td>{{ tweet.content }}</td>
        <td>{{ tweet.creation_date }}</td>
        <td><a class="like-button" data-href='{{ tweet.get_like_api_url }}' data-likes="{{ tweet.likes.count }}" href='{{ tweet.get_like_url }}'>{{ tweet.likes.count }} Likes</a></td>
        <td>{{ tweet.comment_set.all.count }}</td>
        <td><a href="{% url 'comments' tweet_id=tweet.id %}">Comments</a></td>
    </tr>
    {% endfor %}
</table>



</body>
{% endblock content%}