
{% extends 'MyTwitter/base.html' %}

<head>
{% block head_title %}{{ block.super }}{% endblock head_title %}
</head>

<body>
{% block content %}

<h1>Tweets</h1>


<table>
    <tr>
        <th>User</th>
        <th>Tweet</th>
    </tr>
     {% for tweet in tweets %}
    <tr>
            <td>{{ user.username }}</td>
            <td>{{ tweet.content }}</td>
            <td>{{ tweet.creation_date }}</td>
    </tr>
    {% endfor %}
</table>


    <a href="{% url 'create-tweet' %}">Add Tweet</a>



{% endblock content%}